<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hello Ionic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Welcome to quick book app!</h1>
  <div >
    <p>
      <select (change)="getRooms($event.target.value)">
        <option *ngFor="let office of offices" [value]="office">{{office}}</option>
      </select>
      <button ion-button color="primary" menuToggle>Rooms</button>
    </p>
  </div>

  <div>
    <ion-list>
      <button ion-item *ngFor="let room of rooms" (click)="openPage(room)">
        {{ room }}
      </button>
    </ion-list>
  </div>

</ion-content>
