.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

body, .fitPage {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
}

.middleDiv {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
  margin-left: -100px; /* half of the width  */
  margin-top: -100px; /* half of the height */
  .time {
    font-size: 500%;
  }
  .creator {
    font-size: 200%;
  }
  .bookButton {
    margin-top: 5%;
    width: 50%;
    height: 25%;
    font-size: 150%;
  }
  .endButton {
    margin-top: 5%;
    width: 50%;
    height: 25%;
    font-size: 150%;
  }
}
