<ion-content>
  <div class="container-fluid custom-modal-container">
    <div *ngIf="errorMessage">
      <div>{{ errorMessage }}</div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <div class="form-group">
            <label for="empId">Emp id:</label>
            <input class="form-control" type="text" autofocus [(ngModel)]="empId" id="empId">
          </div>
          <div class="form-group">
            <label for="empId">Duration:</label><br/>
            <button class="durationButton"
                    [ngClass]="{greenDuration: isDurationSelected(d),  yellowDuration: !isDurationSelected(d)}"
                    (click)="setDuration(d)" value="d" *ngFor="let d of durations">
              {{d}} mins
            </button>
          </div>
        </div>
        <div class="pull-right">
          <button class="btn-default actionButton cancel" (click)="cancel()">Cancel</button>
          <button class="btn-primary actionButton book  " (click)="book()">Book</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
