<ion-content>
  <div class="container-fluid custom-modal-container">
    <div *ngIf="errorMessage">
      <div class="error-message">{{ errorMessage }}</div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h1 class="tittle" align="center">{{ room }}</h1>
          <div class="form-group duration">
            <button class="durationButton button-outline-ios"
                    [ngClass]="{greenDuration: isDurationSelected(d),  yellowDuration: !isDurationSelected(d)}"
                    (click)="setDuration(d)" value="d" *ngFor="let d of durations" [disabled]="disableDurationButton(d)">
              {{d}} mins
            </button>
          </div>
          <div class="error-message">{{ errors.duration}}</div>
          <div class="form-group empIdButton ">
            <input class="inputBoxStyle" type="text" placeholder="Enter ur employee id" autofocus [(ngModel)]="empId"
                   id="empId">
          </div>
          <div class="error-message">{{ errors.employeeId}}</div>
        </div>
        <div class="span12 centered-text">
          <button class="button-round-ios actionButton ion-ios-close cancel" (click)="cancel()"> Cancel</button>
          <button class="button-round-ios actionButton ion-ios-lock book " [disabled]="disableButton()"
                  (click)="book()"> Book
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
