<ion-content>
  <div class="container-fluid custom-modal-container">
    <div *ngIf="errorMessage">
      <div>{{ errorMessage }}</div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <div class="form-group">
            <label for="empId">Emp id:</label>
            <input class="form-control" type="text" autofocus [(ngModel)]="empId" id="empId">
          </div>
          <div class="form-group">
            <label for="empId">Duration:</label><br/>
            <button class="durationButton" (click)="setDuration(5)" value="5">5 mins</button>
            <button class="durationButton" (click)="setDuration(1)" value="10">10 mins</button>
            <button class="durationButton" (click)="setDuration(1)" value="15">15 mins</button>
            <button class="durationButton" (click)="setDuration(3)" value="30">30 mins</button>
            <button class="durationButton" (click)="setDuration(4)" value="45">45 mins</button>
          </div>
        </div>
        <div class="pull-right">
          <button class="btn-default actionButton cancel" (click)="cancel()">Cancel</button>
          <button class="btn-primary actionButton book  " (click)="book()">Book</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
