.custom-modal-container {
  padding: 15px;
}

.custom-modal-header {
  background-color: #219161;
  color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: -15px;
  margin-bottom: 40px;
}

.actionButton {
  margin-top: 25%;
  margin-left: 5%;
  width: 35%;
  height: 130%;
  font-size: 120%;
}

.book {
  background: #219161;
  color: black;
  font-size: 200%;
  width: 40%;
  height: 70%;
}

.cancel {
  @extend .actionButton;
  background: #f30d0d;
  font-size: 200%;
  width: 40%;
  height: 70%;
}

.inputBoxStyle {
  border-color: black;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  margin-left: 20%;
  text-align: center;
}

.durationButton {
  margin-top: 10%;
  margin-left: 15%;
  width: 30%;
  height: 50px;
  font-size: 150%;
}

.duration {
  margin-top: 10%;
}

.empIdButton {
  margin-top: 15%;
  margin-left: 25%;
  width: 20%;
  height: 25%;
  font-size: 170%;
  align-content: center;
}

.error-message {
  color: red;
  font-size: 170%;
  margin-left: 2%;
  margin-top: 3%;
  align-content: center;
  text-align: center;
}

.greenDuration {
  @extend .durationButton;
  background: #219161;
}

.yellowDuration {
  @extend .durationButton;
  background: #fa3;
}

.button-outline-ios {
  border-width: 0px;
  color: black;
}
.bookinInProgress{
  align-content: center;
  text-align: center;
  font-size: 150%;
}
